navbar {
	height: 250px;
}

a.navbar-brand {
	font-family: "Times New Roman", Times, serif;
	color: #233343;
}

a.navbar-brand {
	display: flex;
	justify-content: center;
	margin: auto;
	padding: 30px 0px 30px 30px;
}

a.navbar-brand:link {
	text-decoration: none;
  }
  
a.navbar-brand:visited {
	text-decoration: none;
  }
  
a.navbar-brand:hover {
	text-decoration: none;
	color: #233343;
  }
  
a.navbar-brand:active {
	text-decoration: none;
  }

.popover-body a:link, .popover-body a:visited, .popover-body a:active{
	text-decoration: none;
	color: #fcba03;
}


h1 {
	font-weight: bold;
	display: flex;
	justify-content:right;
	margin-left: 30%;
}


header h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 2.8em;
}

#foto {
	margin-top: -130px;
	border: 1px solid #fff;
	border-radius: 50%;
	/*position: fixed;*/
	display: flex;
	justify-content: center;
	align-items: center;

    z-index: 2; /*Foto fica na frente*/
	/*z-index: 2; */ /*Foto fica na frente*/
}

#fundoAbout01 {
	background-color: #233343;
}

#fundoEducation {
	background-color: #233343;
}

#educationTitle, #aboutTitle {
	background-color: #1d2a37;
}

#educationFront {
	background-color:#233343;
}

#educationList li {
	background-image: url("D:/Backup - Rene/Rene's files/Textos/CV-Rene/Site-CV/CV-Online/img/setas.png"); /* Caminho para a sua imagem */
    background-repeat: no-repeat;
	z-index: 2;
	padding-left: 60px; /* Espaço para o ícone da imagem */
    margin-bottom: 50px; /* Espaço entre os itens da lista */
	list-style: none; /* Remove o estilo padrão da lista */
}

#educationList {
    list-style: none; /* Remove o estilo padrão da lista */
    padding-left: 20px; /* Ajusta o espaçamento da lista */
}

#profissionalTitle {
	background-color: #1d2a37;
}


#profissionalList {
    list-style: none; /* Remove o estilo padrão da lista */
    padding-left: 20px; /* Ajusta o espaçamento da lista */
}

#profissionalList li::marker {
    color: #ffc107;
    
}

#coluna1, #coluna2 {
	background-color: #0e0f103b;
}

#col2linha1 div.grid {
	background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

#coluna1b {
	background-color: #233343;
}

#mapa {
	padding-top: 90px;

}

#coluna2a {
	border-radius: 15px;
}

i {
	font-size: 3em;
}

#qrcodeCol {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 25px;
	border-radius: 15px;
}

#qrcode {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	padding: auto;
	width: 200px;
	height: 200px;
}


#skills {
	font-family: "Times New Roman", Times, serif;
	background-color: #fcba03;
	color: #233343;
	margin-top: -2px;
}

#levelskills {
	font-size: 12px;
}

#hobbies i {
	font-size: 40px !important;
}

#col2linha1 div {
	background-color: #233343;
}


.popover-header {
	--bs-popover-max-width: 200px;
	--bs-popover-border-color: #ccc;
	--bs-popover-header-bg: rgb(35 51 67);
	--bs-popover-header-color: var(--bs-white);
	--bs-popover-body-padding-x: 1rem;
	--bs-popover-body-padding-y: .5rem;
  }

.popover-body {
    padding: var(--bs-popover-body-padding-y) var(--bs-popover-body-padding-x);
    color: #fcba03 !important; /*var(--bs-popover-body-color);*/
}